absl-py==2.1.0
accelerate==0.34.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
async-timeout==4.0.3
attrs==24.2.0
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
DataProperty==1.0.1
datasets==2.19.2
dill==0.3.7
docker-pycreds==0.4.0
einops==0.8.0
evaluate==0.4.3
fastchat==0.1.0
filelock==3.13.1
flash-attn
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2023.10.0
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
httplib2==0.22.0
huggingface-hub==0.27.0
idna==3.8
importlib_resources==6.4.5
jieba==0.42.1
Jinja2==3.1.3
joblib==1.4.2
jsonlines==4.0.0
kiwisolver==1.4.7
lm_eval==0.4.4
loguru==0.7.2
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mbstrdecoder==1.1.3
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.15
networkx==3.1
nltk==3.9.1
numexpr
numpy
oauth2client==4.1.3
omegaconf==2.3.0
packaging==24.2
pandas
pathvalidate==3.2.1
peft==0.12.0
pillow
platformdirs==4.3.6
portalocker==2.10.1
proto-plus==1.25.0
protobuf==4.25.1
psutil==6.0.0
pyarrow
pyarrow-hotfix
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pycountry==24.6.1
PyDrive==1.3.1
pyparsing==3.1.4
pytablewriter==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
rouge==1.0.1
rouge-score==0.1.2
rsa==4.9
sacrebleu==2.4.3
safetensors==0.4.5
scikit-learn
scipy
seaborn==0.13.2
sentencepiece==0.1.99
sentry-sdk==2.14.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sqlitedict==2.1.0
sympy
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken
tokenizers
torch==2.5.1+cu121
tqdm==4.66.5
tqdm-multiprocess==0.0.11
transformers==4.48.3
triton
typepy==1.3.2
typing_extensions==4.9.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
wandb==0.18.1
word2number==1.1
xxhash==3.5.0
yacs==0.1.8
yarl==1.11.1
zipp==3.20.2
zstandard==0.23.0
